body {
    margin: 0;
    position: relative;
}

.body-2{
    margin: 70px;
}
.txtbox {
    padding: 0;
}
.him-logo {
    width: 200px;
    height: 200px;
}

.banner {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.head-text {
    font-size: 11vw;
    line-height: 0.9;
    text-align: right;
    text-transform: uppercase;
    margin-top: auto;
    padding: 20px;
}

.nav-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.nav-link {
    color: #000;
    font-size: 6.5vw;
    line-height: 1.3;
    font-weight: 400;
    text-decoration: none;
}

.menu{
    transform: translate(50%, 0%) rotate(-90deg);
    position: fixed;
    left: auto;
    top: auto;
    right: 0px;
    bottom: 50%;
    width: 100vh;
}